<!DOCTYPE html>
<html>
  <head>
    <%= partial "shared/metatags" %>
    <title>Icalia Labs</title>
    <link rel="icon" href="<%= ENV["AWS_S3_BUCKET_URL"] %>/assets/img/favicon.ico">
    <%= stylesheet_link_tag :site %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
    <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-32608013-1', 'auto');
       ga('send', 'pageview');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/54685ae476.js"></script>
  </head>
  <body class="<%= current_page.data.type %>">
    <header class="main-menu animated bounceInDown">
      <a href='/'><%= partial "logo" %></a>
      <nav class="logo-menu">
        <a href="startups.html">For Startups</a>
        <a href="enterprise.html">For Enterprise</a>
      </nav>
      <div class="burger">
        <div class="one"></div>
        <div class="two"></div>
        <span class="burger-label">Menu</span>
      </div>
    </header>
    <nav class="menu-overlay">
      <div class="container">
        <div class="menu-content">
          <div class="menu-content-primary-menu">
            <a class="l1 big-link" href="culture.html"><span class="label-menu">About</span>Culture</a>
            <a class="l2 big-link" href="process.html"><span class="label-menu">Icalier way</span>Process</a>
            <a class="l3 big-link" href="projects.html"><span class="label-menu">Expertise</span>Work</a>
            <a class="l4 big-link" href="team.html"><span class="label-menu">Our Family</span>Team</a>
            <a class="l5 big-link" href="contact.html"><span class="label-menu">Tell us abour your project</span>Contact</a>
            <nav class="list-menu">
              <span class="label-menu">Other pages</span>
              <a href="http://www.meetup.com/Monterrey-Ruby-Meetup/">Ruby Meetup</a>
              <a href="https://www.meetup.com/iosmty/">iOS Meetup</a>
              <a href="culture.html#positions">Jobs</a>
              <a href="https://medium.com/@icalialabs">Blog</a>
            </nav>
            <nav class="list-menu">
              <span class="label-menu">Get in Touch</span>
              <a href="mailto:weare@icalialabs.com">weare@icalialabs.com</a>
              <a href="tel:8120898857">+52 01 (81) 2089 8857</a>
            </nav>
          </div>
        </div>
      </div>
    </nav>

    <aside class="indicator">
      <span class="indicator_number"></span>
      <span class="indicator_title"></span>
    </aside>
    <%= yield %>

    <footer class="main-footer">
      <div class="container row clearfix">
        <div class="col-3">
          <%= partial "logo" %>
        </div>
        <div class="col-3">
          <p class="direction"><b>Juan I. Ramon 801, Suite 206</b><br/ >Centro de Monterrey, 64000. <br/ >
          <br>
          Monterrey City, NL, Mexico</p>
          <p class="direction">+52 01 (81) 2089 8857<br />weare@icalialabs.com</p>
        </div>
        <div class="col-2">
          <h4 class="nav-title">Company</h4>
          <a href="#">Culture</a>
          <a href="#">Services</a>
          <a href="#">Team</a>
          <a href="#">Jobs</a>
        </div>
        <div class="col-2">
          <h4 class="nav-title">Social</h4>
          <a href="https://github.com/IcaliaLabs/">Github</a>
          <a href="https://dribbble.com/icalialabs">Dribbble</a>
          <a href="https://medium.com/icalia-labs">Medium</a>
          <a href="https://www.facebook.com/icalialabs">Facebook</a>
          <a href="https://twitter.com/icalialabs">Twitter</a>
          <a href="https://www.instagram.com/icalialabs/">Instagram</a>
        </div>
        <div class="col-2">
          <%= image_tag 'hecho-mexico.png' %>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag :all %>
    <script src="javascripts/typeit.min.js"></script>
    <script>
      $('#intro-text').typeIt({
        strings: ["Business.", "Startup.", "Agency."],
        speed: 300,
        breakLines: false,
        startDelay: 300,
        loop: true,
        breakDelay: 100,
      });
    </script>
    <script src="javascripts/canvas.js"></script>
    <script src="javascripts/words.js"></script>
    <script src="javascripts/skrollr.js"></script>
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
    <script type="text/javascript">
       var s = skrollr.init();
       window.sr = ScrollReveal();
       sr.reveal('.reveal');
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.selected-works-slider').slick({
          infinite: true,
          speed: 300,
          slidesToShow: 1,
          centerMode: true,
          variableWidth: true,
          arrows: true,
          prevArrow: '<a class="prev-arrow">Prev</a>',
          nextArrow: '<a class="next-arrow">Next</a>'
        });
      });
    </script>
    <script>
      var scene = document.getElementById('scene');
      var parallax = new Parallax(scene);
    </script>
    <script>
      $(function(){
        $('.members-nav').scroller({ direction: 'vertical', fixed: 'h6', step:10 });
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
    <script src="javascripts/magicscroll.js"></script>
  </body>
</html>
