---
layout: application-es
title: Cultura
type: culture
---

<% content_for :javascripts do %>
  <script src="//cdn.plyr.io/1.8.12/plyr.js"></script>
  <script type="text/javascript">
    plyr.setup({
      autoplay: true,
      controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume']
    });
  </script>
<% end %>
<section class="section-header">
  <video controls autoplay muted>
    <source src="//s3.amazonaws.com/icalialabs/assets/img/culture.mp4" type="video/mp4">
  </video>
</section>
<section class="values-section">
  <div class="values">
    <h4>Nuestro Mantra</h4>

      <ul>
        <li class="item-slide red">
          <h2 class="big-header red">Hackea y diseña,</h2>
        </li>
        <li class="item-slide red">
          <h2 class="big-header">esmérate en tu trabajo,</h2>
        </li>
        <li class="item-slide red">
          <h2 class="big-header">hazlo honestamente,</h2>
        </li>
        <li class="item-slide red">
          <h2 class="big-header">siempre con bondad,</h2>
        </li>
        <li class="item-slide red">
          <h2 class="big-header">y nunca dejes de aprender.</h2>
        </li>
      </ul>
  </div>
</section>
<section class="career text-center">
  <div class="container">
    <%= image_tag "//s3.amazonaws.com/icalialabs/assets/img/culture/career.png", class: "career-icon" %>
    <h3>Trayectoria Profesional Icalia</h3>
    <p>Únete a nuestro equipo e inmediatamente entrarás en una trayectoria de crecimiento profesional y personal.</p>
    <p>Trabaja en el mejor trabajo de tu vida con el mejor equipo con el que jamás te toparás. Trabajar en Icalia es mucho más que algún trabajo godínez, es un esfuerzo para convertirte en la mejor versión de ti mismo, pues para construir cosas geniales necesitamos a tu mejor versión, y que te conviertas en un colega, programador, diseñador y una persona genial.</p>
  </div>
</section>
<section class="perks text-center">
  <div class="container">
    <h3 class="red">Beneficios para el equipo</h3>
    <p class="section-description">Para asegurarnos que tanto Icalia como cada miembro del equipo estén en una trayectoria de mejora constante, proveemos entrenamiento, coaching personal y otros beneficios geniales. Adicionalmente cada tres meses haremos una evaluación donde nos aseguraremos que recibas lo que necesitas para seguir mejorando como hacker y diseñador.</p>
    <div class="row clearfix">

      <div class="perk col-3 square-bg-1 ">
        <figure>
          <%= image_tag "//s3.amazonaws.com/icalialabs/assets/img/culture/perk1.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Entrenamiento</h3>
          <p class="perk-description">Mejora tus habilidades de programación con entrenamiento constante y trabajando con otros programadores de primera.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <%= image_tag "//s3.amazonaws.com/icalialabs/assets/img/culture/perk2.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Seguro Médico</h3>
          <p class="perk-description">Tu tranquilidad importa. Ofrecemos seguro de gastos médicos a todos nuestros miembros de tiempo completo.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-6 square-bg-3">
        <figure>
          <%= image_tag "//s3.amazonaws.com/icalialabs/assets/img/culture/perk3.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Tu plataforma de lanzamiento</h3>
          <p class="perk-description">Que Icalia sea tu pedestal para convertirte en un mejor programador, entiende problemas del mundo real y cómo lanzar productos para resolverlos. Inclusive podrás encontrar a tu siguiente co-fundador entre tus colegas, o podrás trabajar en “the next big thing”.</p>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="row clearfix">
      <div class="perk col-6 square-bg-3">
        <figure>
          <%= image_tag "//s3.amazonaws.com/icalialabs/assets/img/culture/perk4.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Tiempo Creativo</h3>
          <p class="perk-description">Conforme la tecnología avanza necesitamos mantenernos al día. El tiempo creativo o Labs Time permite que nuestros miembros inviertan el 20% de su tiempo en construir algo de su propia creatividad. </p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-1">
        <figure>
          <%= image_tag "//s3.amazonaws.com/icalialabs/assets/img/culture/perk5.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Trabajo Remoto</h3>
          <p class="perk-description">Sabemos que la inspiración a menudo se encuentra fuera del edificio, así que no te preocupes y trabaja de manera remota de vez en cuando para que mantengas la creatividad.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <%= image_tag "//s3.amazonaws.com/icalialabs/assets/img/culture/perk6.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Certificaciones en línea</h3>
          <p class="perk-description">Lleva tu conocimiento al siguiente nivel. Podemos patrocinar tu capacitación y certificados en cualquier plataforma en línea. </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="positions text-center" id="positions">
  <h3 class="red">¡Intégrate a nuestra familia!</h3>
  <p>Déjanos saber si te interesa formar parte de Icalia .</p>
  <div class="row clearfix">
    <a href="software-engineer" target="_blank" class="position">
      <%= image_tag "//s3.amazonaws.com/icalialabs/assets/img/culture/devs-job-icon.png" %>
      Senior Developer
    </a>
    <a href="digital-designer" target="_blank" class="position">
      <%= image_tag "//s3.amazonaws.com/icalialabs/assets/img/culture/design-job-icon.png" %>
      Digital Designer
    </a>
  </div>
</section>