---
layout: application
title: Work
type: projects
---

<section class="section-header">
  <div class="vertical-align">
    <h4 class="section-title">Work</h4>
    <h2 class="section-tag red">We make things that impact people.</h2>
    <p class="section-description">Product development and design firm focused on B2C and B2B <span class="red">software</span> products.</p>
  </div>
</section>
<section class="projects-wrapper">
  <section class="projects-container">
      <% data.projects.each do |project| %>
        <a href="<%= project.link %>" target="blank" class="projects-link">
          <article class="projects-container-item <%= project.name %> reveal" style="background-image: url(<%= project.image %>); box-shadow: 0 6px 40px #<%= project.color %>, inset 0 1px 1px rgba(255, 255, 255, 0.25);">
            <div class="container row clearfix">
              <div class="col-8 vertical-align">
                <hgroup class="project-listing">
                  <h2 class="project-listing-name"><%= project.name %></h2>
                  <h3 class="project-info"><%= project.done %></h3>
                </hgroup>
              </div>
            </div>
          </article>
        </a>
      <% end %>
  </section>
</section>
<section class="contact-section">
  <h4 class="section-title text-center">We can work together</h4>
  <h2 class="text-center">Hire us. We can help!</h2>
  <div class="call-buttons-group red">
    <a href="https://graf2.typeform.com/to/VEd4e1" class="left" data-label="quote projects">Get a quote</a>
    <i class="sep"></i>
    <a href="#" class="right">View our work</a>
  </div>
</section>

<script type="text/javascript">
  $('body.projects').attr('data-400','background-color:rgb(244,244,244);');
  $('body.projects').attr('data-700','background-color:rgb(234,62,106);');
  $('body.projects').attr('data-1700','background-color:rgb(67,197,213);');
  $('body.projects').attr('data-2300','background-color:rgb(113,57,158);');
  $('body.projects').attr('data-3000','background-color:rgb(52,99,169);');
  $('body.projects').attr('data-4700','background-color:rgb(70,168,76)');
</script>

<script src="javascripts/skrollr.js"></script>
<script src="//cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>
<script type="text/javascript">
   var s = skrollr.init({forceHeight: false});
   window.sr = ScrollReveal();
   sr.reveal('.reveal');
</script>