---
layout: application
title: Culture
type: culture
---

<% content_for :javascripts do %>
  <script src="https://cdn.plyr.io/1.8.12/plyr.js"></script>
  <script type="text/javascript">
    plyr.setup({
      autoplay: true,
      controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume']
    });
  </script>
<% end %>
<section class="section-header">
  <video controls autoplay muted>
    <source src="images/culture.mp4" type="video/mp4">
  </video>
</section>
<section class="values-section">
  <div class="values">
    <h4>Our Mantra</h4>

      <ul>
        <li class="item-slide red">
          <h2 class="big-header red">Hack and Design</h2>
        </li>
        <li class="item-slide red">
          <h2 class="big-header">Care about your work,</h2>
        </li>
        <li class="item-slide red">
          <h2 class="big-header">Do it honestly,</h2>
        </li>
        <li class="item-slide red">
          <h2 class="big-header">Always with kindness,</h2>
        </li>
        <li class="item-slide red">
          <h2 class="big-header">And never stop learning.</h2>
        </li>
      </ul>
  </div>
</section>
<section class="career text-center">
  <div class="container">
    <%= image_tag "images/culture/career.png", class: "career-icon" %>
    <h3>The Icalier Career Path</h3>
    <p>Join our team, you'll instantly be on a path of professional and personal growth. </p>
    <p>Get to work on the best work of your life with the finest team you'll ever come across. Working at Icalia, isn't just a nine to five, its striving to become the best version of yourself. Because in order to make something great, we need someone who is the best version of them as a great team member, coder, designer, person. </p>
  </div>
</section>
<section class="perks text-center">
  <div class="container">
    <h3 class="red">Perks for the team</h3>
    <p class="section-description">To make sure that both our team members and Icalia is constantly on a  path of constant improvement, we provide training, personal coaching, and other amazing perks. In addition, every three months we'll have an honest assessment where we make sure that you get what you need in order to keep improving as a Hacker and Designer.</p>
    <div class="row clearfix">

      <div class="perk col-3 square-bg-1 ">
        <figure>
          <%= image_tag "images/culture/perk1.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Training</h3>
          <p class="perk-description">Improve your coding skills, through constant training and by working with world class programmers.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <%= image_tag "images/culture/perk2.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Medical insurance</h3>
          <p class="perk-description">Your peace of mind matters. We offer medical insurance to all of our full-time team members.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-6 square-bg-3">
        <figure>
          <%= image_tag "images/culture/perk3.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Your launch pad</h3>
          <p class="perk-description">Use Icalia as your stepping stone to become a better programmer. Learn about real world problems and how to launch the products that solve them. You might even find a coworker to be your next co-founder, or get to work on the next big thing.</p>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="row clearfix">
      <div class="perk col-6 square-bg-3">
        <figure>
          <%= image_tag "images/culture/perk4.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Creative Time</h3>
          <p class="perk-description">As technology advances and changes, we need to keep up to date. Creative Time allows team members to spend 20% of their time on something not-client related. </p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-1">
        <figure>
          <%= image_tag "images/culture/perk5.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Remote work possibilities</h3>
          <p class="perk-description">We know inspiration often lies outside the building. So no worries, work remotely from time to time and get your groove back.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <%= image_tag "images/culture/perk6.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Online certifications</h3>
          <p class="perk-description">Take your knowledge to the next level, we can sponsor your certification in any MOOC or online learning platform available. </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="positions text-center" id="positions">
  <h3 class="red">Join our family!</h3>
  <p>Let us know if you want to become an Icalier.</p>
  <div class="row clearfix">
    <a href="software-engineer" target="_blank" class="position">
      <%= image_tag "images/culture/devs-job-icon.png" %>
      Senior Developer
    </a>
    <a href="digital-designer" target="_blank" class="position">
      <%= image_tag "images/culture/design-job-icon.png" %>
      Digital Designer
    </a>
  </div>
</section>
