---
layout: application
title: Culture
type: culture
---
<section class="section-header">
  <div class="culture-info vertical-align">
    <h2 class="animated fadeInUp">Make something that matters.</h2>
  </div>
  <video controls autoplay muted>
    <source src="http://videos.thisalso.com/desktop/main/video.mp4" type="video/mp4">
  </video>
</section>
<section class="values-section">
  <div class="suraido-container vertical-align values" data-suraido>
    <h3>Our values</h3>
    <ul>
      <li class="item-slide">
        <h1 class="big-header"><span class="value">Passion:</span> Love what you do.<br /> Never stop improving.</h1>
        <a href="#">Learn more</a>
      </li>
      <li class="item-slide">
        <h1 class="big-header"><span class="value">Integrity:</span> <br /> Apply it to everything you do.</h1>
        <a href="#">Learn more</a>
      </li>
      <li class="item-slide">
        <h1 class="big-header"><span class="value">Kindness:</span>  Always give <br />before you get.</h1>
        <a href="#">Learn more</a>
      </li>
      <li class="item-slide">
        <h1 class="big-header"><span class="value">Communication:</span>  Vital for  <br />truly understading our user's needs.</h1>
        <a href="#">Learn more</a>
      </li>
    </ul>
  </div>
</section>
<section class="career text-center">
  <h2>The Icalier Career Path</h2>
  <p>If you're a hacker by nature, you have a passion for making delightful digital products, then you sound like a person we'd like to work with. </p>
  <br />
  <p>You will join a family of young, talented, individuals striving to make an impact.  </p>
  <p>At Icalia, you'll get paid to give a shit. </p>
</section>

<section class="perks text-center">
  <div class="container">
    <h4 class="title-section-perks">Perks for the team</h4>
    <p class="section-description">We care about our team and culture. Asside from the basics, you'll instantly be on a path of becoming a better Hacker, Designer, Business Person. </p>
    <div class="row clearfix">

      <div class="perk col-3 square-bg-1 ">
        <figure>
          <img src="<%= ENV["AWS_S3_BUCKET_URL"] %>/assets/img/learn.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Training</h3>
          <p class="perk-description">Leverage our collective knowledge, through constant training.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <img src="<%= ENV["AWS_S3_BUCKET_URL"] %>/assets/img/medical.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Medical insurance</h3>
          <p class="perk-description">Besides the basic insurance for full-time memebers, we offer an additional medical insurance to guarantee your tranquility when something happens.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-6 square-bg-3">
        <figure>
          <img src="<%= ENV["AWS_S3_BUCKET_URL"] %>/assets/img/launch.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Your launch pad</h3>
          <p class="perk-description">Take advantage of a great team and share with anyone your idea. You can build something great with all the talent available, and maybe start the next great thing. </p>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="row clearfix">
      <div class="perk col-6 square-bg-3">
        <figure>
          <img src="<%= ENV["AWS_S3_BUCKET_URL"] %>/assets/img/creative.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Creative Time</h3>
          <p class="perk-description">As technology advances and changes, we need to be up to date every single day. Creative Time allows team members to spend 20% of their time on something not-client related.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-1">
        <figure>
          <img src="<%= ENV["AWS_S3_BUCKET_URL"] %>/assets/img/remote.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Remote work</h3>
          <p class="perk-description">Sometimes inspiration is outside the building. Work from home or your favorite coffeeshop. </p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <img src="<%= ENV["AWS_S3_BUCKET_URL"] %>/assets/img/certificate.png" alt="" class="perk-icon">
          <figcaption>
          <h3 class="perk-title">Online certifications</h3>
          <p class="perk-description">If you want to take your newly acquired knowledge to the next level, we can sponsor your certification in any MOOC or platform available. </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="positions text-center" id="positions">
  <h2>Join our family!</h2>
  <p> Let us know you want to be an Icalier.</p>
  <div class="row clearfix">
    <div class="col-6">
      <a href="software-engineer.html" target="_blank" class="position">Senior Developer</a>
    </div>
    <div class="col-6">
      <a href="digital-designer.html" target="_blank" class="position">Digital Designer</a>
    </div>
  </div>
</section>
