---
layout: application
title: Culture
type: culture
---

<% content_for :javascripts do %>
  <script src="https://cdn.plyr.io/1.8.12/plyr.js"></script>
  <script type="text/javascript">plyr.setup({
      autoplay: true,
      controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume']
  });
  </script>
<% end %>

<section class="section-header">
  <video controls>
    <source src="https://s3.amazonaws.com/icalia/assets/img/culture.mp4" type="video/mp4">
  </video>
</section>

<section class="values-section">
  <div class="suraido-container vertical-align values" data-suraido>
    <h3>Our values</h3>
    <ul>
      <li class="item-slide">
        <h1 class="big-header"><span class="value">Passion:</span> Love what you do.<br /> Never stop improving.</h1>
        <a href="#">Learn more</a>
      </li>
      <li class="item-slide">
        <h1 class="big-header"><span class="value">Integrity:</span> <br /> Apply it to everything you do.</h1>
        <a href="#">Learn more</a>
      </li>
      <li class="item-slide">
        <h1 class="big-header"><span class="value">Kindness:</span>  Always give <br />before you get.</h1>
        <a href="#">Learn more</a>
      </li>
      <li class="item-slide">
        <h1 class="big-header"><span class="value">Communication:</span>  Vital for  <br />truly understading our user's needs.</h1>
        <a href="#">Learn more</a>
      </li>
    </ul>
  </div>
</section>

<section class="career text-center">
  <h2>The Icalier Career Path</h2>
  <p>If you're a hacker by nature, you have a passion for making delightful digital products, then you sound like a person we'd like to work with. </p>
  <br />
  <p>You will join a family of young, talented, individuals striving to make an impact.  </p>
  <p>At Icalia, you'll get paid to give a shit. </p>
</section>
<section class="perks text-center">
  <div class="container">
    <h4 class="title-section-perks">Perks for the team</h4>
    <p class="section-description">Instantly get on a path of becoming a better Hacker, Designer, Business Person. </p>

    <div class="row clearfix">

      <div class="perk col-3 square-bg-1 ">
        <figure>
          <%= image_tag "perk1.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Training</h3>
          <p class="perk-description">Improve your coding skills, through constant training and by working with world class programmers.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <%= image_tag "perk2.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Medical insurance</h3>
          <p class="perk-description">Your peace of mind matters. We offer medical insurance to all of our full-time team members. </p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-6 square-bg-3">
        <figure>
          <%= image_tag "perk3.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Your launch pad</h3>
          <p class="perk-description">Use Icalia as your stepping stone to become a better programmer. Learn about real world problems and how to launch products that solve them. You might even meet your next co-founder or get to work on the next big thing. </p>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="row clearfix">
      <div class="perk col-6 square-bg-3">
        <figure>
          <%= image_tag "perk4.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Creative Time</h3>
          <p class="perk-description">As technology advances and changes, we need to keep up to date. Creative Time allows team members to spend 20% of their time on something not-client related.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-1">
        <figure>
          <%= image_tag "perk5.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Remote work</h3>
          <p class="perk-description">Sometimes inspiration is outside the building. Work from home or your favorite coffeeshop. </p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <%= image_tag "perk6.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Online certifications</h3>
          <p class="perk-description">Take your knowledge to the next level, we can sponsor your certification in any MOOC or online learning platform available. </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="positions text-center" id="positions">
  <h2>Join the team!</h2>
  <p> Let us know if you want to become an Icalier.</p>
  <div class="row clearfix">
    <a href="software-engineer" target="_blank" class="position">
      <%= image_tag "devs-job-icon.png" %>
      Senior Developer
    </a>
    <a href="digital-designer" target="_blank" class="position">
      <%= image_tag "design-job-icon.png" %>
      Digital Designer
    </a>
  </div>
</section>
