---
layout: application
title: Culture
type: culture
---

<% content_for :javascripts do %>
  <script src="https://cdn.plyr.io/1.8.12/plyr.js"></script>
  <script type="text/javascript">
    plyr.setup({
      autoplay: true,
      controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume']
    });
  </script>
<% end %>
<section class="section-header">
  <video controls autoplay muted>
    <source src="https://s3.amazonaws.com/icalia/assets/img/culture.mp4" type="video/mp4">
  </video>
</section>
<section class="values-section">
  <div class="values">
    <h4>Our values</h4>
    <div class="suraido-container" data-suraido>
      <ul>
        <li class="item-slide red">
          <h1 class="big-header red">Motivation comes <br />from true <span class="value">passion</span>.</h1>
        </li>
        <li class="item-slide red">
          <h1 class="big-header">Every member <br />has <span class="value">integrity</span>.</h1>
        </li>
        <li class="item-slide red">
          <h1 class="big-header"><span class="value">Kindness</span> to give <br />before you get.</h1>
        </li>
        <li class="item-slide red">
          <h1 class="big-header"><span class="value">Communication</span> as the <br />team strategy.</h1>
        </li>
      </ul>
    </div>
    <a href="#">Learn more</a>
  </div>
</section>
<section class="career text-center">
  <div class="container">
    <%= image_tag "https://s3.amazonaws.com/icalia/assets/img/culture/career.png", class: "career-icon" %>
    <h3>The Icalier Career Path</h3>
    <p>For several days we have analysed different elements considered by technical and creative people in the digital industry. We believe more options are going to be added in the near future, but so far this is a path that can lead you to learn and grow in a constant, unstoppable but most importantly, human way. </p>
    <p>Every single memeber in our team has a monetary and emotional remuneration, sustained by the knowledge and experiences he or she gets. Along the Icalier life, every 3 months we celebrate a team evaluation to assess new developed capabilities and challenges faced. </p>
  </div>
</section>
<section class="perks text-center">
  <div class="container">
    <h3 class="red">Perks for the team</h3>
    <p class="section-description">Instantly get on a path of becoming a better Hacker, Designer, Business Person.</p>
    <div class="row clearfix">

      <div class="perk col-3 square-bg-1 ">
        <figure>
          <%= image_tag "https://s3.amazonaws.com/icalia/assets/img/culture/perk1.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Training</h3>
          <p class="perk-description">Improve your coding skills, through constant training and by working with world class programmers.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <%= image_tag "https://s3.amazonaws.com/icalia/assets/img/culture/perk2.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Medical insurance</h3>
          <p class="perk-description">Your peace of mind matters. We offer medical insurance to all of our full-time team members.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-6 square-bg-3">
        <figure>
          <%= image_tag "https://s3.amazonaws.com/icalia/assets/img/culture/perk3.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Your launch pad</h3>
          <p class="perk-description">Use Icalia as your stepping stone to become a better programmer. Learn about real world problems and how to launch products that solve them. You might even meet your next co-founder or get to work on the next big thing. </p>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="row clearfix">
      <div class="perk col-6 square-bg-3">
        <figure>
          <%= image_tag "https://s3.amazonaws.com/icalia/assets/img/culture/perk4.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Creative Time</h3>
          <p class="perk-description">As technology advances and changes, we need to keep up to date. Creative Time allows team members to spend 20% of their time on something not-client related.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-1">
        <figure>
          <%= image_tag "https://s3.amazonaws.com/icalia/assets/img/culture/perk5.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Remote work possibilities</h3>
          <p class="perk-description">You will miss our great office, but if something happens or you need to stay at your place, we are open to work in different places.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <%= image_tag "https://s3.amazonaws.com/icalia/assets/img/culture/perk6.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Online certifications</h3>
          <p class="perk-description">Take your knowledge to the next level, we can sponsor your certification in any MOOC or online learning platform available.</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="positions text-center" id="positions">
  <h3 class="red">Join our family!</h3>
  <p>Let us know if you want to become an Icalier.</p>
  <div class="row clearfix">
    <a href="software-engineer" target="_blank" class="position">
      <%= image_tag "https://s3.amazonaws.com/icalia/assets/img/culture/devs-job-icon.png" %>
      Senior Developer
    </a>
    <a href="digital-designer" target="_blank" class="position">
      <%= image_tag "https://s3.amazonaws.com/icalia/assets/img/culture/design-job-icon.png" %>
      Digital Designer
    </a>
  </div>
</section>
