---
layout: application
title: Culture
type: culture
---
<section class="section-header">
  <div class="culture-info vertical-align">
    <h2 class="animated fadeInUp">Our mission is make a better world with technology, make your life more easy and fun. Improve lifes and minds.</h2>
  </div>
  <video controls autoplay muted>
    <source src="http://videos.thisalso.com/desktop/main/video.mp4" type="video/mp4">
  </video>
</section>
<section class="values-section">
  <div class="values">
    <h4>Our values</h4>
    <div class="suraido-container" data-suraido>
      <ul>
        <li class="item-slide red">
          <h1 class="big-header red">Motivation comes <br />from true <span class="value">passion</span>.</h1>
        </li>
        <li class="item-slide red">
          <h1 class="big-header">Every member <br />has <span class="value">integrity</span>.</h1>
        </li>
        <li class="item-slide red">
          <h1 class="big-header"><span class="value">Kindness</span> to give <br />before you get.</h1>
        </li>
        <li class="item-slide red">
          <h1 class="big-header"><span class="value">Communication</span> as the <br />team strategy.</h1>
        </li>
      </ul>
    </div>
    <a href="https://medium.com/icalia-labs/cultura-la-columna-vertebral-de-toda-empresa-c8575ef60835#.c31p7iafk">Learn more</a>
  </div>
</section>
<section class="career text-center">
  <div class="container">
    <%= image_tag "career.png", class: "career-icon" %>
    <h3>The Icalier Career Path</h3>
    <p>For several days we have analysed different elements considered by technical and creative people in the digital industry. We believe more options are going to be added in the near future, but so far this is a path that can lead you to learn and grow in a constant, unstoppable but most importantly, human way. </p>
    <p>Every single memeber in our team has a monetary and emotional remuneration, sustained by the knowledge and experiences he or she gets. Along the Icalier life, every 3 months we celebrate a team evaluation to assess new developed capabilities and challenges faced. </p>
  </div>
</section>
<section class="perks text-center">
  <div class="container">
    <h3 class="red">Perks for the team</h3>
    <p class="section-description">We care about our team. We offer different perks to motivate and encourage the constant development of our passions and professional skills. These elements are additional to any basic offering as a part-time or full-time team member.</p>
    <div class="row clearfix">

      <div class="perk col-3 square-bg-1 ">
        <figure>
          <%= image_tag "perk1.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Learning platforms</h3>
          <p class="perk-description">Every single memeber can access to a bunch of different online platforms and leverage all knowledge available.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <%= image_tag "perk2.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Medical insurance</h3>
          <p class="perk-description">Besides the basic insurance for full-time memebers, we offer an additional medical insurance to guarantee your tranquility when something happens.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-6 square-bg-3">
        <figure>
          <%= image_tag "perk3.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Your launch pad</h3>
          <p class="perk-description">Take advantage of a great team and share with anyone your idea. You can build something great with all the talent available, and maybe start from here the next great thing. </p>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="row clearfix">
      <div class="perk col-6 square-bg-3">
        <figure>
          <%= image_tag "perk4.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Creative Time</h3>
          <p class="perk-description">As technology advances and changes, we need to be up to date every single day. Creative Time takes our fridays to spend the 20% of the week on something not-client related.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-1">
        <figure>
          <%= image_tag "perk5.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Remote work possibilities</h3>
          <p class="perk-description">You will miss our great office, but if something happens or you need to stay at your place, we are open to work in different places.</p>
          </figcaption>
        </figure>
      </div>

      <div class="perk col-3 square-bg-2">
        <figure>
          <%= image_tag "perk6.png", class: "perk-icon" %>
          <figcaption>
          <h3 class="perk-title">Online certifications</h3>
          <p class="perk-description">If you want to take your brand new knowledge to the next level, we can sponsore you a certification in any MOOC or platform available. </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="positions text-center" id="positions">
  <h3 class="red">Join our family!</h3>
  <p>If you want to live a different work experience, develop your true passions and grow as an individual, join us in this adventure. Let us know you want to be an Icalier.</p>
  <div class="row clearfix">
    <a href="software-engineer" target="_blank" class="position">
      <%= image_tag "devs-job-icon.png" %>
      Senior Developer
    </a>
    <a href="digital-designer" target="_blank" class="position">
      <%= image_tag "design-job-icon.png" %>
      Digital Designer
    </a>
  </div>
</section>

