---
layout: application
title: Icalia Labs
type: index
---

<section data-section="home" class="index-background">
  <section class="intro row">
    <div class="container">
      <div class="intro-content vertical-align">
        <h4 class="intro-content_subtitle animated fadeInDown">Hackers & Designers</h4>
        <h2 class="intro-content_title animated fadeInUp">Crafting Amazing Software <br> to empower your <span id="intro-text"></span></h2>
        <a href="https://graf2.typeform.com/to/dcHjFT" target="_blank" class="intro-content_get-a-quote">Get a quote</a>
      </div>
    </div>
  </section>
</section>

<section data-section="clients" class="clients-section">
  <div class="container">
    <h4 class="section-title">We help our clients</h4>
    <div class="cd-intro">
      <h1 class="cd-headline loading-bar">
        <span class="cd-words-wrapper">
          <b class="is-visible light-text red">Validate their ideas</b>
          <b class="light-text red">Get product/market fit</b>
          <b class="light-text red">Get funded</b>
          <b class="light-text red">Scale their platforms</b>
          <b class="light-text red">To think and move like a Startup</b>
        </span>
      </h1>
    </div>
    <article class="clients-logos">
      <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/clients/banregio.png', class: 'clients-logos_item animated'%>
      <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/clients/tec.png', class: 'clients-logos_item animated'%>
      <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/clients/budlight.png', class: 'clients-logos_item animated'%>
      <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/clients/ipark.png', class: 'clients-logos_item animated'%>
      <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/clients/rts.png', class: 'clients-logos_item animated'%>
      <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/clients/sat.png', class: 'clients-logos_item animated'%>
      <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/clients/cic.png', class: 'clients-logos_item animated'%>
      <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/clients/nuevo-leon.png', class: 'clients-logos_item animated'%>
      <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/clients/codeando.png', class: 'clients-logos_item animated'%>
      <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/clients/moneypool.png', class: 'clients-logos_item animated'%>
    </article>
    <div class="call-buttons-group red">
      <a href="https://graf2.typeform.com/to/VEd4e1" class="left">Get a quote</a>
      <i class="sep"></i>
      <a href="projects" class="right">View our work</a>
    </div>
  </div>
</section>
<section class="areas-section">
  <div class="areas-container">
    <div class="vertical-align" id="areas-info" data-1000="opacity:0;" data-1100="opacity:1;">
      <h2 class="big-title">What we do</h2>
      <a href="process" class="action-btn">Our process</a>
    </div>
    <article class="area-element" id="ar-1" data-800="top:60%;" data-1000="top:50%;">
      <h2>Business Design</h2>
    </article>
    <article class="area-element" id="ar-2" data-800="top:70%;" data-1000="top:35%;">
      <h2>Digital Strategy</h2>
    </article>
    <article class="area-element" id="ar-3" data-800="top:60%;" data-1000="top:78%;">
      <h2>Developer Operations</h2>
    </article>
    <article class="area-element" id="ar-4" data-800="top:60%;" data-1000="top:38%;">
      <h2>Web & Mobile Development</h2>
    </article>
    <article class="area-element" id="ar-5" data-800="top:60%;" data-1000="top:67%;">
      <h2>Innovation Strategy</h2>
    </article>
  </div>
</section>
<section class="startup-enterprise">
  <div class="row">
    <div class="col-6 startup">
      <h4 class="section-title text-center">Helping Startups from</h4>
      <div class="logo-container">
        <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/logos/techstars.png', class: 'clients-logos_item animated'%>
        <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/logos/500-startups.png', class: 'clients-logos_item animated'%>
        <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/logos/combinator.png', class: 'clients-logos_item animated'%>
      </div>
    </div>
    <div class="col-6 enterprise">
      <h4 class="section-title text-center">Tech Partners</h4>
      <div class="logo-container">
        <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/logos/azure-red.png', class: 'clients-logos_item animated'%>
        <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/logos/aws-red.png', class: 'clients-logos_item animated'%>
        <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/logos/pivotal-red.png', class: 'clients-logos_item animated'%>

        <div class="container">
          <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/logos/google-red.png', class: 'clients-logos_item animated'%>
          <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/logos/docker-red.png', class: 'clients-logos_item animated'%>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="quotes">
    <h4 class="section-title text-center">Testimonials</h4>
    <article class="quote-item">
      <div class="container">
        <h4 class="quote-item-text">“Great startup advice combined with amazing technical chops that allowed us to focus exclusively on execution.”</h4>
        <div class="quite-item-info">
          <%= image_tag '//s3.amazonaws.com/icalialabs/assets/img/steve.png', class: 'quote-item-avatar' %>
          <span class="quote-item-name">Stephen Lampert- CEO, Tap To Fund</span>
        </div>
      </div>
    </article>
</section>
<section class="selected-works">
  <div class="selected-works-slider">
    <div class="selected-works-slider-item">
      <span class="selected-works-slider-item-num">01</span>
      <h3 class="selected-works-slider-item-client">BanRegio</h3>
      <h2 class="selected-works-slider-item-title">Making a Bank move faster. </h2>
      <a href="/cochi" class="selected-works-slider-item-link">See case study</a>
    </div>
    <div class="selected-works-slider-item">
      <span class="selected-works-slider-item-num">02</span>
      <h3 class="selected-works-slider-item-client">Printoo</h3>
      <h2 class="selected-works-slider-item-title">Brought back the nostalgia of a printed photo.</h2>
      <a href="/printoo" class="selected-works-slider-item-link">See case study</a>
    </div>
    <div class="selected-works-slider-item">
      <span class="selected-works-slider-item-num">03</span>
      <h3 class="selected-works-slider-item-client">Okudoc</h3>
      <h2 class="selected-works-slider-item-title">An easier way for patients to find Doctors.</h2>
      <a href="/okudoc" class="selected-works-slider-item-link">See case study</a>
    </div>
  </div>
</section>
<section class="contact-section">
  <h4 class="section-title text-center">Have an idea?</h4>
  <h2 class="contact-section-title">Let's get stuff done!</h2>
  <div class="call-buttons-group red">
    <a href="https://graf2.typeform.com/to/VEd4e1" class="left">Get a quote</a>
    <i class="sep"></i>
    <a href="projects" class="right">View our work</a>
  </div>
</section>
<script src="javascripts/skrollr.js"></script>
<script src="//cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>
<script type="text/javascript">
   var s = skrollr.init({forceHeight: false});
   window.sr = ScrollReveal();
   sr.reveal('.reveal');
</script>
