---
layout: application
title: Team
type: team
---
<section class="section-header">
  <div class="team-header">
    <h6 class="letter-spacing">Our team</h6>
    <h1 class="section-tag">Our passion is our job, we craft awesome products.</h1>
  </div>
</section>

<section class="team-section">
  <div class="members-fullpage">
    <div class="hide">
      <img src="images/see-all.png" alt="">
      <h6 class="letter-spacing">View all the team</h6>
    </div>
    <aside>
      <h6 class="letter-spacing">Our team members</h6>
      <nav class="members-nav" >
        <% data.members.each do |member| %>   
        <a href="javascript:;" data-name="<%= member.name %>"><%= member.name %></a>
        <% end %> 
      </nav>
    </aside>
    <div class="members-container">
      <% data.members.each do |member| %>     
        <figure class="member" data-name="<%= member.name %>" style="background-image: url('<%=member.picture%>')">
          <div class="member-info">
            <h5 class="name"><%= member.name %></h5>
            <h6 class="position"><%= member.title %></h6>
            <p><%= member.bio %></p>
          </div>
          <div class="networks">
            <% member.networks.each do |network| %>
              <a href="<%= network.link %>" class="social <%=network.name%>" target="_blank"><%= network.name %></a>
            <% end %>
          </div>
        </figure>
      <% end %> 
    </div>
  </div>
  <div class="members-grid row">
    <img src="images/close.png" class="close" alt="">
    <% data.members.each do |member| %> 
      <div class="col-2" data-name="<%= member.name %>" style="background-image: url('<%=member.picture%>')">
      </div>
    <% end %> 
  </div>
</section>

<section class="join row">
  <div class="vertical-align">
    <h6 class="letter-spacing red">Join Us.</h6>
    <h2 class="tag">Are you ready for new challenges?</h2>
    <div class="call-buttons-group red">
      <a href="culture.html#positions"><h6 class="letter-spacing">View our open positions</h6></a>
    </div>
  </div>
</section>
