---
layout: application
title: Team
type: team
---
<section class="section-header">
  <div class="team-header">
    <h6 class="letter-spacing">Our team</h6>
    <h1 class="section-tag">Our passion is our job, we craft awesome products.</h1>
  </div>
</section>

<section class="team-section">
  <aside>
    <h6 class="letter-spacing">Our team members</h6>
    <nav class="members-nav" >
      <% data.members.each do |member| %>   
      <a href="javascript:;" data-name="<%= member.name %>"><%= member.name %></a>
      <% end %> 
    </nav>
  </aside>
  <div class="members-container">
    <% data.members.each do |member| %>     
      <figure class="member" data-name="<%= member.name %>" style="background-image: url('<%=member.picture%>')">
        <div class="member-info">
          <h5 class="name"><%= member.name %></h5>
          <h6 class="position"><%= member.title %></h6>
          <p><%= member.bio %></p>
        </div>
      </figure>
    <% end %> 
  </div>
</section>

<section class="join row">
  <h4 class="capital">Join Us.</h4>
  <h2 class="tag">Are you ready for new challenges?</h2>

  <a href="culture.html#positions" class="red-button">View our open positions</a>
</section>
